@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: font1;
  src: url("../assets/fonts/Raleway/Raleway-Regular.ttf");
}
body {
    @apply text-primary;
    background-color: #d6e9ee;
}